.page-header  
  .h2
    = I18n.t('views.comfy.web_settings.index.header.title')
= form_for Subdomain.current, url: web_settings_path, method: :patch do |f|
  = render partial: 'form', locals: {f: f}
  

