{{page-title "ApiResources"}}
  <h2>API resources</h2>
  <ul id="todo-list">
   {{#each @model as |apiResource|}}
      <li>
        <LinkTo @route="api-resources.resource" @model={{apiResource}}>
          {{apiResource.name}}
        </LinkTo>
      </li>
   {{/each}}
  </ul>
  {{outlet}}
