<ul class="payment-method-selector">
  <% methods.each do |method| %>
    <li>
      <% "order_payments_attributes__payment_method_id_#{method.id}".tap do |id| %>
        <%= label_tag id, class: 'radio-input' do %>
          <%= radio_button_tag(
            "order[payments_attributes][][payment_method_id]",
            method.id,
            method == @order.available_payment_methods.first,
            id: id
          ) %>

          <%= t(method.name, scope: 'spree.payment_methods', default: method.name) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
