<ul class="payment-method-controls">
  <% methods.each do |method| %>
    <li id="payment_method_<%= method.id %>">
      <%= render(
        "checkouts/payment/#{method.partial_name}",
        payment_method: method
      ) %>
    </li>
  <% end %>
</ul>
