.product-variants {
  margin: 0 0 3rem;

  &__title {
    font-size: $h6-font-size;
    text-transform: uppercase;
  }

  &__list {
    font-size: $font-size-small;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      margin: 0 0 1.2rem;

      label {
        margin: 0 0 0 .5rem;
      }
    }
  }
}

// Custom swatches
.variant-selection {
  .selected-value {
    font-weight: $font-weight-bold;
  }
}

.selection-container {
  display: flex;
  flex-direction: row;
  margin: 0 -1rem;

  .selection-item {
    padding: 1rem;
    text-align: center;
    position: relative;

    input[type="radio"] {
      opacity: 0;
      position: absolute;
      height: 0;
      width: 0;

      &:checked ~ span:not(.selection-color) {
        box-shadow: inset 0 0 0 2px $color-dark;
        background: $color-white;
      }

      &:checked ~ span.selection-color {
        &::before {
          content: '';
          position: absolute;
          padding: 5px;
          border-radius: 100%;
          border: 2px solid;
          width: 50px;
          height: 50px;
          top: 0;
          left: 0;
          transform: translate(5px, 5px);
        }
      }
    }

    > span {
      padding: 1rem;
      display: block;
      cursor: pointer;

      &:not(.selection-color) {
        border-radius: 3px;
        background: $color-gray-lighter;
        min-width: 60px;
      }
    }
  }

  $color-variants:
    (
    "blue": royalblue,
    "black": black,
    "white": white,
    "red":   crimson,
    "green": mediumseagreen
    );


  @each $color, $color-name in $color-variants {
    .selected-#{$color} {
      background: $color-name;
    }
  }

  .selection-color {
    border: 1px solid darken($color-gray-light, 15%);
    border-radius: 50px;
    width: 40px;
    height: 40px;

    .value {
      text-indent: -9999px;
      display: inline-block;
      line-height: 1rem;
    }
  }
}
