.products-by-taxon {
  &__title {
    border-bottom: 1px solid $color-border-light;
    font-size: $font-size-large;
    padding: 0 3rem 1.5rem;

    a {
      font-weight: $headings-font-weight;
    }
  }
}
