<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <main>
      <h1>Periodic reports for visitor analytics</h1>
      <p>test</p>
    </main>
  </body>
</html>