<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <main>
      <div><%= params[:mail][:content].html_safe %></div>
    </main>
  </body>
</html>