<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <main>
      <h1>New Registration Request</h1>
      <strong>Email: <%= @subdomain_request.email %></strong>
      <strong>Email: <%= @subdomain_request.subdomain_name %></strong>
    </main>
  </body>
</html>