= form_for @message_thread, url: mailbox_message_threads_path, method: :post do |f|
  .form-group
    %label
      recipients: 
    = f.text_field :recipients, multiple: true, required: true, class: 'form-control'
  .form-group
    %label
      Subject: 
    = f.text_field :subject, class: 'form-control'
  = render partial: 'messages/form', locals: { f: f }