.address-overview {
  &__title {
    display: inline;
    font-size: $h6-font-size;
    font-weight: $font-weight-bold;
  }

  &__edit {
    font-size: $h6-font-size;
    margin-left: .3rem;
    text-decoration: none;
  }

  &__info {
    font-size: $font-size-small;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      margin: .5rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
