.order-item {
  border-bottom: solid 1px $color-border-light;
  font-size: $font-size-small;
  padding: 1rem 0;

  @include desktop {
    align-items: center;
    display: flex;
  }

  &:first-child {
    border-top: solid 1px $color-border-light;
  }

  &__image {
    @include desktop {
      flex-grow: 0;
      flex-shrink: 0;
      width: 18%;
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    @include desktop {
      flex-grow: 1;
      padding-left: 4rem;
      padding-right: 2rem;
    }
  }

  &__price-single {
    float: left;
    width: 90%;

    @include desktop {
      float: none;
    }
  }

  &__price-single,
  &__price {
    text-align: right;

    @include desktop {
      padding: 0 1rem;
      text-align: left;
    }
  }

  &__price {
    clear: both;
  }

  &__quantity {
    flex-grow: 0;
    flex-shrink: 0;
    float: right;
    font-weight: $font-weight-bold;
    text-align: center;
    width: 6%;

    @include desktop {
      float: none;
    }
  }

  &__price-single,
  &__quantity,
  &__price {
    padding-top: 1em;

    @include desktop {
      padding-top: 0;
    }
  }

  &__remove {
    text-align: right;
    width: 12%;
  }

  .order-items--summary & {
    align-items: flex-start;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 30% 1fr;

    @include desktop {
      font-size: $font-size-smaller;
    }

    &__image {
      width: 100%;
    }

    &__price-single {
      display: none;
    }

    &__quantity,
    &__price {
      padding: 0;
      text-align: right;
      width: auto;
    }
  }
}
