.page-header
  = link_to I18n.t('views.email_alias.index.header.actions.new'), new_email_alias_path, class: 'btn btn-success float-right mx-1'
  .h2
    = I18n.t('views.email_alias.index.header.title')
