%h1
  Api Keys

%table.table.table-responsive.mt-5
  %thead
    %tr
      %th
        Id
      %th
        Label
      %th
        Api Key
      %th
        Api Namespaces
  %tbody
    - @api_keys.each do |api_key|
      %tr
        %td
          = link_to api_key.id, api_key_path(id: api_key.id)
        %td
          = api_key.label
        %td
          = api_key.bearer_token
        %td
          - api_key.api_namespaces.each do |api_namespace|
            .mb-3
              = link_to api_namespace.name, api_namespace_path(id: api_namespace.id)