<div id="cookie-consent-wrapper">
  <%= render html: html_text.html_safe %>
</div>

<script>
$(document).ready( function() {
  $('.cookie-consent-button').on('click', function() {
    $.ajax('/cookies', {
      data: { cookies: $(this).data('value') },
      success: function() {
        $('#cookie-consent-wrapper').remove();
      }
    })
  });
});
</script>