
- if flash[:file_url]
    :javascript
        console.log("#{flash[:file_url]}")
        var link = document.createElement("a");
        link.download;
        link.href = "#{flash[:file_url]}";
        link.click();
- flash.discard(:file_url)