%h1 Editing api_resource

= render 'form'

= link_to 'Show', api_namespace_resource_path(api_namespace_id: @api_resource.api_namespace_id, id: @api_resource.id)
\|
<button class="btn btn-link p-0" onclick="window.history.back()">Back</button>
