<%
  order = order_form.object

  is_order_empty = (
    order.adjustments.nonzero.exists? ||
    order.line_item_adjustments.nonzero.exists? ||
    order.shipment_adjustments.nonzero.exists? ||
    order.shipments.any?
  )
%>

<section class="cart-items">
  <div class="cart-items-header">
    <h2 class="cart-items-header__title">Item</h2>
    <h2 class="cart-items-header__title">Price</h2>
    <h2 class="cart-items-header__title">Quantity</h2>
    <h2 class="cart-items-header__title">Subtotal</h2>
  </div>

  <%= render(
    partial: 'carts/cart_item',
    collection: order.line_items,
    as: :line_item,
    locals: { order_form: order_form }
  ) %>

  <% if is_order_empty %>
    <%= render 'carts/cart_adjustments' %>
  <% end %>
</section>
