<%
  type = local_assigns.fetch(:type, t('spree.adjustment'))
  label = local_assigns.fetch(:label, '')
%>

<div class="cart-amount-row">
  <dt>
    <span class="cart-amount-row__type"><%= type %>:</span>
    <span class="cart-amount-row__label"><%= label %></span>
  </dt>
  <dd class="cart-amount-row__amount"><%= amount %></dd>
</div>
