<header class="cart-empty">
  <h1 class="cart-empty__title">
    <%= t('spree.your_cart_is_empty') %>
  </h1>

  <p class="cart-empty__action">
    <%= link_to t('spree.continue_shopping'), products_path %>
  </p>
</header>
