.footer {
  background: $color-background-lighter;
  color: $color-copy-light;
  font-size: $font-size-small;
  margin-top: 4rem;
  padding: 8rem 2rem;
  text-align: center;

  a {
    &:hover {
      color: lighten($color-copy, 30%);
    }
  }
}
