<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @message.content %>
    <% if @subdomain.email_signature.present? %>
      <div style="margin-top: 20px">
        <%= @subdomain.email_signature %>
      </div>
    <% end %>
  </body>
</html>