%li{class: 'nav-item'}
  = link_to "Your Landing page", root_path(subdomain: Apartment::Tenant.current), class: 'nav-link', target: '_blank'
  = link_to "Your Blog", '/blog', class: 'nav-link', target: '_blank'
