- if Subdomain.current.logo.attached?
  = link_to root_path(subdomain: Apartment::Tenant.current), target: '_blank', class: 'd-flex justify-content-center align-items-center' do
    = image_tag(Subdomain.current.logo, class: 'd-none d-lg-block img-fluid p-4', size: '150x150')
- else 
  = link_to "Add your logo here", edit_web_settings_path, class: 'd-none d-lg-block p-4' 
  