%h1 Listing rooms

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= link_to 'Show', room
        %td= link_to 'Edit', edit_room_path(room)
        %td= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Room', new_room_path
