<div class="page-header">
  <div class="h2">
    Video Rooms
  </div>
  <p>Early access, feature under active development</p>
</div>

<%= form_with url: rooms_path do |form| %>
  <%= form.submit 'Create Room' %>
<% end %>