<div class="page-header">
  <div class="h2">
    Video Rooms
  </div>
  <p>Early access, feature under active development</p>
</div>

<%= form_with url: rooms_path do |form| %>
  <%= form.label "Room owner broadcast" %>
  <%= form.check_box :one_to_many %>
  <div>
    <%= form.submit 'Create Room', class: 'btn btn-primary' %>
  </div>
<% end %>