<%= turbo_frame_tag :cookies_modal do %>
  <% if cookies[:cookies_accepted].nil? %>
      <div class="cookies-consent__overlay"></div>
      <%= Subdomain.current.cookies_consent_ui.html_safe %>
  <% end %>
<% end %>