<div
  class="media"
  id="media_<%= client_id %>"
  data-controller="media"
  data-media-client-id-value="<%= client_id %>"
  data-room-target="remoteMedia"
>
  <video autoplay playsinline data-media-target="mediaElement"></video>
</div>