:javascript
  // Disabling file attachment functionality
  $(document).ready(function() {
    $('.disable-trix-file-attachment').each(function(e) {
      // Remove file-attach icon
      $(this).find('trix-toolbar .trix-button-group--file-tools').remove();
      // Disables functionality to drag-and-drop files onto the trix-editor
      $(this).find('trix-editor').on('trix-file-accept', function(e) {
        e.preventDefault();
      });
    });
  });

  function checkRequiredRichTextFields() {
    let isRequiredFieldsFilled = true;
    $('form .required-rich-text-error').remove();
    $('trix-editor[required]').each(function() {
      const inputFieldId = $(this).attr('input');
      if (!$(this).parent().find('input#' + inputFieldId).val()) {
        $(this).parent().append(richTextRequiredMessage());
        isRequiredFieldsFilled = false;
      }
    });
    return isRequiredFieldsFilled;
  }

  function richTextRequiredMessage() {
    message = "This is a required field."
    return (`<div class="text-danger required-rich-text-error">${message}</div>`)
  }