// Place all the styles related to the ApiNamespaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#comfy.c-comfy-admin-api_namespaces.a-index #cms-main {
  padding-bottom: 0;
}

#comfy.c-comfy-admin-api_namespaces  .read .toggle-cat-edit {
  background-color: var(--color-primary);
}

#comfy .list-view .badge-primary {
  background-color: #EDEBFE;
  font-weight: 500;
  color: #252525;
}

.api-namespace-show {
  background-color: #FCFEFF;

  .nav-link-container {
    overflow-x: auto;
    background: #49505714;
    padding: 12px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
    margin: 30px 0;
  
    .nav.nav-tabs {
      width: max-content;
      border-bottom: none;

      .nav-link {
        font-size: 14px;
        color: #495057;
        border: none;

        &.active {
          border: 1px solid #49505714;
          box-shadow: 0px 8px 10px #0108150A;
          border-radius: 4px;
          color: var(--color-primary);
          font-weight: 600;
        }
      }
    }

    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
  }

  .tab-content {
    margin: 30px 0;
  }
}

.list-view {
  --base-line-height: 17px;
  --base-font-size: 14px;
  --border-radius: 6px;

  .col-form-label {
    font-weight: 500;
  }

  .digg_pagination {
    border-bottom: 1px solid #343A4014;;
  }

  .view-dynamic-column {
    white-space: nowrap;
  }

  a:not(.btn) {
    color: var(--color-primary);
  }

  &--instant-search .search-box {
    position: relative;
    display: flex;
    align-items: center;

    input[type='search'] {
      height: 48px;
      background: #B1B1B10A 0% 0% no-repeat padding-box;
      border: 1px solid #ADB1B6;
      border-radius: 4px;

      &::-webkit-search-cancel-button{
        height: 20px;
        width: 20px;
        border-radius:10px;
        cursor: pointer;
      }
    }

    .search-action {
      position: absolute;
      right: 0;

      .clear-text-btn {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }

  &__table-container {
    // Since Sass is case-sensitive and CSS isn't, the CSS version of max() will be used
    // If max() is used instead of MAX(), Sass will throw a compilation error (Incompatible units px and vh)
    max-height: MAX(700px, 78.8vh);
    overflow: auto;
    border-top: 1px solid #dee2e6;
  }

  &__status-text {
    padding: 2px 10px 4px;
    border-radius: var(--border-radius);
    font-weight: 500;

    &--success {
      background-color: #DEF7EC;
      color: #03543F;
    }

    &--failure {
      background-color: #FEEEEB;
      color: #C6444A;
    }
  }

  .table {
    margin-bottom: 0;
    font-size: var(--base-font-size);
    border-collapse: collapse;

    thead tr th {
      position: sticky;
      top: 0;
      height: 57px;
      vertical-align: middle;
      border: 1px solid #dee2e6;
      background: #ffffff;
      text-align: center;
      font-size: 12px;
      color: #6B7280;
      text-transform: uppercase;

      a {
        text-transform: uppercase;
        font-size: 12px;
        color: #6B7280;
        font-weight: 600;
      }
    }

    td {
      vertical-align: middle;

      .td-content {
        --content-size: 80px;
        height: var(--content-size);
        max-height: var(--content-size);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--content-size);
      }

      .clamp-content {
        display: -webkit-box;
        max-width: 300px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-width: 180px;
      }
    }
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-title {
    text-transform: capitalize;
    font-size: calc(var(--base-font-size) + 2px);
    line-height: calc(var(--base-line-height) + 2px);
    font-weight: 600;
  }

  .modal-subtitle {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
  }

  .modal {
    pre.modal-body-content {
      white-space: break-spaces;
      background-color: #343A400A;
      font-size: var(--base-font-size);
      border-radius: var(--border-radius);
      font-family: inherit;
    }
  }

  @media (min-width: 576px) {
    .modal-dialog-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: 576px) {
    .modal-dialog {
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%
    }
  }
}

#api-namespaces-list {
  .td-content {
    height: auto;
    max-height: unset;
    min-height: var(--content-size);
  }
}

#api-resources-list{
  .table {
    line-height: var(--line-height);
  }
  & > form {
    #created-at-filter,
    #updated-at-filter {
      cursor: pointer;
    }
  }
}