// Place all the styles related to the ApiNamespaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#api-resources-list{
  a:not(.btn) {
    color: #6F5AFE;
  }

  .digg_pagination {
    border-bottom: 1px solid #343A4014;;
  }

  .api-resources-table-container {
    max-height: 700px;
    overflow: auto;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;

    #api-resources-table {
      font-size: 14px;
      line-height: 17px;
      border-collapse: collapse;

      thead tr th {
        position: sticky;
        top: 0;
        height: 57px;
        vertical-align: middle;
        border: 1px solid #dee2e6;
        background: #ffffff;
        text-align: center;

        a {
          color: #495057;
          font-weight: 500;
        }
      }

      td {
        vertical-align: middle;
      }
    
      .date-col {
        min-width: 130px;
      }
    
      .view-dynamic-column {
        white-space: nowrap;
      }
    }
  }
  
  & > form {
  
    .search-box {
      position: relative;
      display: flex;
      align-items: center;

      input[type='search'] {
        height: 48px;
        background: #B1B1B10A 0% 0% no-repeat padding-box;
        border: 1px solid #E3E5E9;
        border-radius: 4px;

        &::-webkit-search-cancel-button{
          height: 20px;
          width: 20px;
          border-radius:10px;
          cursor: pointer;
        }
      }
  
      .search-action {
        position: absolute;
        right: 0;

        .clear-text-btn {
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
    }

    #created-at-filter,
    #updated-at-filter {
      cursor: pointer;
    }
  }

  .modal {
    .modal-header {
      border-bottom: none;

      .modal-title {
        text-transform: capitalize;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
      } 
    }
  
    #modal-id {
      font-size: 14px;
      line-height: 17px;
    }
  
    pre#modal-body-content {
      white-space: break-spaces;
      background-color: #343A400A;
      font-size: 14px;
      line-height: 17px;
      border-radius: 6px;
      font-family: inherit;
    }
  }


  @media (max-width: 576px) {
    .modal-dialog {
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%
    }
  }
}