// Place all the styles related to the cookies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cookies-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  z-index: 9000;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
  }

  &__title {
    font-size: 1.4rem;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .cookies-consent {
    display: flex;
    justify-content: space-between;

    &__text-content {
      width: 100%;
      max-width: 700px;
      margin-right: 2.5rem;
    }

    &__buttons-container {
      width: 100%;
      max-width: 300px;
    }
  }
}
