// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.donut-chart {
  border: 1px solid #e9eaec;
  box-shadow: -4px 12px 24px #29384514;
  border: 1px solid #E9EAEC;
  border-radius: 5px;
  padding: 16px;
}