.text-input {
  label {
    display: block;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    margin-bottom: .3rem;
  }

  input {
    border: solid 1px $color-border;
    border-radius: 1px;
    display: block;
    font-size: $input-font-size;
    height: 3.8rem;
    padding: 0 1rem;
    width: 100%;

    &:focus {
      border-color: transparent;
      box-shadow: none;
      outline: solid 1px $color-border-dark;
    }
  }

  &--small {
    label {
      font-size: $label-font-size;
      font-weight: $label-font-weight;
      margin-bottom: 0;
    }

    input {
      font-size: $input-font-size - .1;
      height: 3.2rem;
    }
  }
}
