<div class="product-page__description">
  <h2 class="product-description__title">
    <%= t('description') %>
  </h2>

  <p class="product-description" itemprop="description">
    <%= product_description(product) rescue t('spree.product_has_no_description') %>
  </p>
</div>
