<header class="product-header">
  <h1 class="product-header__title" itemprop="name">
    <%= product.name %>
  </h1>

  <% if product.price_for_options(current_pricing_options)&.money and !product.price.nil? %>
    <h2 class="product-header__title" id="product-price">
      <%= content_tag(
        :span,
        display_price(product),
        itemprop: 'price',
        content: product.price_for_options(current_pricing_options)&.money.to_d,
        data: { js: 'price' }
      ) %>

      <%= content_tag(
        :span,
        nil,
        itemprop: 'priceCurrency',
        content: current_pricing_options.currency
      ) %>
    </h2>
  <% end %>
</header>
