!!!
%html{lang: I18n.locale}
  - if controller_name == 'message_threads'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = render 'layouts/comfy/admin/cms/head'
  = render 'layouts/comfy/admin/cms/body'