
%h1 Welcome to Violet Solutions
%p Brought to you by Restarone Inc.


.card
  .card-body
    = link_to "Get started", signup_wizard_index_path, class: 'btn btn-primary'
    = link_to "Sign into your base", new_user_session_path, class: 'btn btn-primary'