.container
  %h1 Content#index
  %p Find me in app/views/content/index.html.haml

  %ul
    %li
      = link_to "Sign up", new_customer_registration_path
    %li
      = link_to "Sign in", new_customer_session_path