# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:12.3-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis:4.0-alpine
        ports:
          - 6379:6379
    steps:
    - name: Configure sysctl limits
      run: |
        sudo swapoff -a
        sudo sysctl -w vm.swappiness=1
        sudo sysctl -w fs.file-max=262144
        sudo sysctl -w vm.max_map_count=262144
    - name: Install App dependencies
      run: |
        sudo apt-get update
        sudo apt-get -yqq install libxml2-dev libxslt-dev nodejs yarn tzdata less imagemagick libpq-dev postgresql-client jq bc
    - uses: actions/checkout@v2
    - name: Set Environment Variables
      run: cat ci_env.cfg >> $GITHUB_ENV
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6.6 # Not needed with a .ruby-version file but it's good to be clear here
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - name: Fetch schema file before running migration
      run: |
        tmpfile=$(mktemp)
        echo "directories list"
        ls -a
    - name: Setup main DB
      run: |
        bin/rails db:create
        bin/rails db:migrate
    - name: compile assets/javascript
      run: |
        yarn install
        bin/rails assets:precompile
    - name: compile ember client
      run: |
        cd client
        npm install -g ember-cli

    - name: Run Tests
      run: bin/rails test -f
